.hidden {
    display: none;
}
.green {
    color: green;
}
.red {
    color: red;
}
.yellow {
    color: yellow;
}
#save-changes:hover {
    cursor: pointer;
}

.margin-0 {
    margin: 0;
}
.margin-bottom__2em {
    margin: 0 0 2em 0;
}

.min-height-150 {
    min-height: 150px;
}

.red-bg {
    background-color: red !important;
}

.green-bg {
    background-color: green !important;
}